<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User DashBoard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/socket.io/socket.io.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Arial", sans-serif;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    margin-top: 1rem;
    width: 96%;
    top: 0;
    z-index: 1000;
    margin-left: 2%;
    border-radius: 0.5rem;
  }

  nav div {
    margin: 1rem;
  }

  #navBtn {
    background-color: #e36906;
    display: flex;
    border: none;
    border-radius: 5rem;
    padding: 0.5rem 4rem;
    gap: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  #navBtn button {
    color: white;
  }

  nav button {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
  }

  #mainCostumer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  #menCategory {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff3e9;
    height: 40rem;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: 5rem;
  }

  #womenCategory {
    display: none;
    flex-wrap: wrap;
    background-color: #fff3e9;
    height: 40rem;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: 5rem;
  }

  #kidCategory {
    display: none;
    flex-wrap: wrap;
    background-color: #fff3e9;
    height: 40rem;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin: 5rem;
  }

  #cartDiv {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 20rem;
    flex-wrap: wrap;
    background-color: #fff3e9;
    height: auto;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
</style>

<body>
  <nav>
    <div>
      <a href="#mainImgDiv"><img src="/icons/bola.png.png" width="50rem" /></a>
    </div>
    <div id="navBtn">
      <a href="#menCategory"><button onclick="menCategory()">Men</button></a>
      <a href="#womenCategory"><button onclick="womenCategory()">Women</button></a>
      <a href="#kidCategory"><button onclick="kidCategory()">Kids</button></a>
    </div>
    <div id="navBtn2">
      <button>
        <a href="#cartDiv">
          <i style="color: #e36906" class="fa-solid fa-cart-shopping"></i>
        </a>
      </button>
    </div>
  </nav>

  <main id="mainCostumer">
    <section id="menCategory"></section>

    <section id="womenCategory"></section>

    <section id="kidCategory"></section>

    <section id="cartDiv">
      <div
        style="text-align: center; width: 35rem; height: 15rem; display: flex; flex-wrap: wrap; justify-content: center;"
        class="cartFirstDiv">
        <h3 style="width: 35rem;">Shipping Details</h3>

        <div style="width: 10.5rem; display: flex; flex-wrap: wrap; height: 3rem; margin: 1rem 2rem;">
          <label for="name">Name*</label>
          <input id="name" name="Name" type="text">
        </div>

        <div style="width: 10.5rem; display: flex; flex-wrap: wrap; height: 3rem; margin: 1rem 2rem;">
          <label for="delivery">Delivery address</label>
          <input id="delivery" type="text">
        </div>

        <div style="width: 10.5rem; display: flex; flex-wrap: wrap; height: 3rem; margin: 1rem 2rem;">
          <label for="number">Contact number</label>
          <input id="number" type="text">
        </div>

        <div style="width: 10.5rem; display: flex; flex-wrap: wrap; height: 3rem; margin: 1rem 2rem;">
          <label for="">Payment method</label>
          <select name="paymentMethod" id="paymentMethod">
            <option value="cod">Cash on Delivery (COD)</option>
            <option value="gcash">GCash</option>
          </select>
        </div>

      </div>

      <div style="width: 35rem; height: 35rem; display: flex; flex-wrap: wrap; justify-content: center;"
        class="cartSecondDiv">
        <h3 style="margin-top: 2rem; height: 2rem;">Order List</h3>
        <div id="productCartSection"
          style=" display: flex; justify-content: center; width: 40rem; height: 15rem; overflow-y: scroll; flex-wrap: wrap;">

        </div>
        <div>
          <h4 style="margin: 1rem;">Shipping fee: ₱100
          </h4>
          <h4 id="totalPrice" style="margin: 1rem;"></h4>
          <button onclick="confirmOrder()"
            style="margin: 1rem; padding: 0.5rem; border-radius: 0.8rem;border: none; cursor: pointer; color: white; background-color: #e36906">Confirm
            Order</button>

        </div>


    </section>



    </div>


  </main>




  <script>

    const socket = io();

    document.addEventListener("DOMContentLoaded", displayProductCustomer);

    async function displayProductCustomer() {
      try {
        const response = await fetch("/shoes_products");
        const products = await response.json();

        const menCategory = document.querySelector("#menCategory");
        const womenCategory = document.querySelector("#womenCategory");
        const kidCategory = document.querySelector("#kidCategory");



        products.forEach(product => {
          const newProductDiv = document.createElement('div');
          newProductDiv.classList.add('HomeProduct');
          newProductDiv.style.border = '1px solid #ccc';
          newProductDiv.style.borderRadius = '5px';
          newProductDiv.style.padding = '10px';
          newProductDiv.style.marginBottom = '20px';
          newProductDiv.style.width = '300px';
          newProductDiv.style.marginRight = "10px";
          newProductDiv.style.display = "flex";
          newProductDiv.style.alignItems = "center";
          newProductDiv.style.flexDirection = "column";
          newProductDiv.style.flexWrap = "wrap"


          const img = document.createElement('img');
          img.src = product.Image;
          img.alt = 'Product Image';
          img.style.width = '100px';
          img.style.height = '100px';
          img.style.marginLeft = "60px"
          img.style.marginRight = "60px"

          img.style.borderRadius = '5px';
          img.style.marginBottom = '10px';

          const productName = document.createElement('h2');
          productName.textContent = product.ProductName;
          productName.style.margin = '0';
          productName.style.fontSize = '1.5rem';

          const stock = document.createElement('p');
          stock.textContent = `Stock: ${product.Stock}`;
          stock.style.margin = '5px 0';

          const price = document.createElement('p');
          price.textContent = `Price: ${product.Price}`;
          price.style.margin = '5px 0';

          const size = document.createElement('p');
          size.textContent = `Size: ${product.Size}`;
          size.style.margin = '5px 0';

          const quantityInput = document.createElement('input');
          quantityInput.type = 'number';
          quantityInput.style.width = "50px"
          quantityInput.style.textAlign = "center";
          quantityInput.min = '1';
          quantityInput.value = '1';
          quantityInput.style.margin = '5px 0';

          const addToCartBtn = document.createElement('button');
          addToCartBtn.textContent = 'Add to Cart';
          addToCartBtn.style.margin = '5px 0';
          addToCartBtn.addEventListener('click', () => {
            addToCart(product);
          });

          newProductDiv.appendChild(img);
          newProductDiv.appendChild(productName);
          newProductDiv.appendChild(stock);
          newProductDiv.appendChild(price);
          newProductDiv.appendChild(size);
          newProductDiv.appendChild(quantityInput);
          newProductDiv.appendChild(addToCartBtn);

          if (product.Category === 'men') {
            menCategory.appendChild(newProductDiv);
          } else if (product.Category === 'women') {
            womenCategory.appendChild(newProductDiv);
          } else if (product.Category === 'kids') {
            kidCategory.appendChild(newProductDiv);
          }
        });
      } catch (error) {
        console.error('Error fetching and displaying products:', error);
      }
    }

    const productCartSection = document.getElementById('productCartSection');

    function addToCart(product) {
      const quantityInput = document.querySelector('input[type="number"]');
      const quantity = parseInt(quantityInput.value);
      const subtotal = product.Price * quantity;

      const existingProduct = document.querySelector(`.cartProduct[data-product="${product.ProductName}"]`);

      if (existingProduct) {
        const existingQuantity = parseInt(existingProduct.querySelector('.quantityDisplay').textContent.split(':')[1].trim());
        const newQuantity = existingQuantity + quantity;
        const newSubtotal = product.Price * newQuantity;

        existingProduct.querySelector('.quantityDisplay').textContent = `Quantity: ${newQuantity}`;
        existingProduct.querySelector('.subtotalDisplay').textContent = `Subtotal: ₱${newSubtotal.toFixed(2)}`;
      } else {
        const productDiv = document.createElement('div');
        productDiv.classList.add('cartProduct');
        productDiv.setAttribute('data-product', product.ProductName);
        productDiv.style.display = 'flex';
        productDiv.style.alignItems = 'center';
        productDiv.style.marginBottom = '10px';

        const productName = document.createElement('p');
        productName.textContent = product.ProductName;
        productName.style.marginRight = '20px';

        const quantityDisplay = document.createElement('p');
        quantityDisplay.textContent = `Quantity: ${quantity}`;
        quantityDisplay.classList.add('quantityDisplay');
        quantityDisplay.style.marginRight = '20px';

        const subtotalDisplay = document.createElement('p');
        subtotalDisplay.textContent = `Subtotal: ₱${subtotal.toFixed(2)}`;
        subtotalDisplay.classList.add('subtotalDisplay');
        subtotalDisplay.style.marginRight = '20px';

        const removeBtn = document.createElement('button');
        removeBtn.textContent = 'Remove';
        removeBtn.addEventListener('click', () => {
          const newQuantity = parseInt(quantityDisplay.textContent.split(':')[1].trim()) - 1;
          const newSubtotal = product.Price * newQuantity;

          if (newQuantity >= 1) {
            quantityDisplay.textContent = `Quantity: ${newQuantity}`;
            subtotalDisplay.textContent = `Subtotal: ₱${newSubtotal.toFixed(2)}`;
          } else {
            productCartSection.removeChild(productDiv);
          }
          updateTotalPrice();
        });

        productDiv.appendChild(productName);
        productDiv.appendChild(quantityDisplay);
        productDiv.appendChild(subtotalDisplay);
        productDiv.appendChild(removeBtn);

        productCartSection.appendChild(productDiv);
      }

      quantityInput.addEventListener('input', () => {
        const newQuantity = parseInt(quantityInput.value);
        const newSubtotal = product.Price * newQuantity;
        const subtotalDisplay = existingProduct ? existingProduct.querySelector('.subtotalDisplay') : productDiv.querySelector('.subtotalDisplay');
        subtotalDisplay.textContent = `Subtotal: ₱${newSubtotal.toFixed(2)}`;
      });

      updateTotalPrice();
    }

    function updateTotalPrice() {
      const subtotalElements = document.querySelectorAll('.subtotalDisplay');
      let totalPrice = 0;

      subtotalElements.forEach(element => {
        const subtotal = parseFloat(element.textContent.replace('Subtotal: ₱', ''));
        totalPrice += subtotal;
      });

      totalPrice += 100;

      const totalPriceElement = document.getElementById('totalPrice');
      totalPriceElement.textContent = `Total: ₱${totalPrice.toFixed(2)}`;
    }


    function confirmOrder() {
      const products = [];
      const productElements = document.querySelectorAll('.cartProduct');
      let totalSubtotal = 0;

      productElements.forEach(element => {
        const productName = element.querySelector('p').textContent;
        const quantity = parseInt(element.querySelector('.quantityDisplay').textContent.split(':')[1].trim());
        const subtotal = parseFloat(element.querySelector('.subtotalDisplay').textContent.replace('Subtotal: ₱', ''));
        totalSubtotal += subtotal;
        products.push({ productName, quantity, subtotal });
      });

      const name = document.getElementById('name').value.trim();
      const deliveryAddress = document.getElementById('delivery').value.trim();
      const contactNumber = document.getElementById('number').value.trim();
      const paymentMethod = document.getElementById('paymentMethod').value;


      if (name === '' || deliveryAddress === '' || contactNumber === '') {
        alert('Please fill in all required fields.');
        return;
      }
      const orderData = {
        products,
        userDetails: {
          name,
          deliveryAddress,
          contactNumber,
          paymentMethod
        },
        totalSubtotal
      };

      socket.emit('confirmOrder', orderData);

      alert("Your Order is being process, we will notify you in the number you provide! Thankyou")

      clearInputs();



    }


    function clearInputs() {
    
      document.getElementById('name').value = '';
      document.getElementById('delivery').value = '';
      document.getElementById('number').value = '';

   
      const productCartSection = document.querySelector('#productCartSection');
      productCartSection.innerHTML = '';
    }



  </script>

  <script>

    function menCategory() {
      const menCategory = document.querySelector("#menCategory");
      const womenCategory = document.querySelector("#womenCategory");
      const kidCategory = document.querySelector("#kidCategory");

      womenCategory.style.display = "none";
      kidCategory.style.display = "none";

      menCategory.style.display = "flex";
    }
    function womenCategory() {
      const menCategory = document.querySelector("#menCategory");
      const womenCategory = document.querySelector("#womenCategory");
      const kidCategory = document.querySelector("#kidCategory");

      menCategory.style.display = "none";
      kidCategory.style.display = "none";

      womenCategory.style.display = "flex";
    }
    function kidCategory() {
      const menCategory = document.querySelector("#menCategory");
      const womenCategory = document.querySelector("#womenCategory");
      const kidCategory = document.querySelector("#kidCategory");

      womenCategory.style.display = "none";
      menCategory.style.display = "none";

      kidCategory.style.display = "flex";
    }
  </script>


</body>

</html>